@media (max-width: 500px) {
    .contact-info-container .title {
        padding: 10px 0;
    }
    .contact-info-container .email {
        padding: 10px 0;
    }
    .contact-info-container .caption {
        padding: 10px 0;
    }
    .contact-info-container .number {
        padding: 10px 0;
    }
    .contact-info-container .address {
        padding: 10px 0;
    }
}