footer {
  background-image: url(../pronia-project/assets/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}
footer {
  p {
    font-size: smaller;
  }
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 80px 20px 10px 20px;
}

.footer-container {
  .title {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .contact {
    font-size: 1.1rem;
  }
}
.footer-container {
  p {
    font-weight: 400;
    font-size: 0.8rem;
  }
}
.section-1 {
  width: 200px;
  img {
    width: auto;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
    top: -20px;
  }
}
.line-height {
  line-height: 20px;
  position: relative;
  top: -20px;
}
.section-5 {
  .title {
    margin-bottom: 5px;
    .number {
      font-size: 18px;
    }
  }
}
.section-5 {
  .number {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
}
.social-media-container {
  padding: 0px 15px;
  display: flex;
  max-width: fit-content;
}
.facebook,
.twitter,
.pintrest,
.dribble {
  border: 1px solid #000000;
  margin: 0px 5px;
  padding: 5px 10px;
}
.copy-right {
  p {
    text-align: center;
    padding: 0px 15px 15px 15px;
    font-size: 14px;
    color: #abd373;
  }
  a { 
    text-decoration: none;
    color: #abd373;
  }
}
hr {
  margin: 40px auto 20px auto;
  color: #abd373;
}


@media (max-width: 640px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 20px 10px 20px;
    text-align: center;
  }
  .section-1 {
    width: 100%;
  }
  .social-media-container {
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
}

@media (max-width: 376px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 20px 10px 20px;
    text-align: center;
  }
  .social-media-container {
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
}

