@use "variables" as v;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}
h1 {
  font-size: 3.5rem;
  margin: 10px 0px;
}
button {
  color: #fff;
  padding: 15px 20px;
  background-color: v.$button-color;
  margin-top: 30px;
  border: none;
  border-radius: 25px;
  font-size: smaller;
}

button:hover {
  background-color: #8db653;
  color: #ffffff;
  transition: 0.5s;
}

.wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
