.top-bar {
  background-color: #abd373;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
  .wrapper {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    div {
      display: flex;
      p {
        margin: 10px 10px;
      }
    }
  }
}

.top-text {
  font-size: 0.7rem;
}

.navigation {
  padding: 25px 0px;
  .wrapper {
    .navigation-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      nav {
        padding: 10px 0px;
        ul {
          list-style: none;
          display: flex;
        }
        a {
          text-decoration: none;
          color: #4c4c4c;
          margin: 0px 10px;
          font-size: 0.8rem;
        }
      }
      .pronia-logo {
        width: 85px;

        .cart-icon {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
.navigation {
  .wrapper {
    .navigation-bar {
      .cart-icon {
        height: 30px;
        width: 25px;
      }
    }
  }
}

.navigation {
  a {
    text-decoration: none;
    position: relative;
  }
  .cart-counter {
    border: solid 2px #abd373;
    background-color: #abd373;
    top: -5px;
    left: 15px;
    border-radius: 50%;
    color: white;
    position: absolute;
  }
}

.banner {
  background-color: #F8EEE5;
  .wrapper {
    display: flex;
    .text-container .image-container {
      width: 50%;
    }
  }
}

.banner {
  .wrapper {
    .image-container{
      display: flex;
      align-items: center;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        margin-bottom: 10px 0px;
        color: #000;
      }
      .subheading-banner {
        font-size: 3rem;
        font-weight: 300;
        text-align: left;
        color: #000;
        margin: 10px 0px;
      }
    }
  }
}

.banner {
  .wrapper {
    .flower-pot {
      width: 400px;
      padding: 40px 0px;
    }
    button {
      max-width: fit-content;
      border-radius: 500px;
    }
  }
}

.contact-banner {
  background-image: url(../pronia-project/assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 200px;
}

.contact-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .top-bar .wrapper div {
    display: inline;
  }
  .navigation .wrapper .navigation-bar .pronia-logo {
    width: auto;
    height: 24px;
    margin-bottom: 11px;
  }
  .banner .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner .text-container {
    margin: 10px 0px;
  }
  .banner .wrapper .text-container .subheading-banner {
    text-align: center;
  }
}