@use "variables" as v;
.benefits {
  padding: 60px 0px;
  .wrapper {
    display: flex;
  }
  .benefit-container {
    display: flex;
    flex-grow: 1;
    margin: 20px;
    border: 1px v.$button-color dashed;
    padding: 10px 12px;
    border-radius: 5px;
  }
}

.benefits img {
  height: 30px;
  width: 40px;
}

.benefit-icon1,
.benefit-icon2,
.benefit-icon3 {
  display: flex;
  margin: 0px 10px;
  justify-content: center;
  align-items: center;
}
.benefit-text {
  p {
    margin: 5px 0px;
  }
}
.text-heading {
  font-weight: bold;
}
.lines {
  text-align: center;
  position: relative;
  font-weight: bolder;
  max-width: 350px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.5rem;
  color: #4c4c4c;
}
.lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #abd373;
}
.lines:after {
  content: " ";
  display: block;
  height: 2px;
  width: 60px;
  position: absolute;
  top: 50%;
  right: 0;
  background: #abd373;
}
.product-categories {
  display: flex;
  justify-content: center;
}

.filter {
  border: #c0c0c0 solid 1px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  margin: 0px 10px;
  color: black;
  font-size: 0.8rem;
  background-color: white;
  cursor: pointer;
}

// USED ESTHERS CODEALONG (NEW ONE)
.filter:hover:not([disabled]),
.filter:focus {
  border: #abd373 dashed 1px;
  background-color: white;
  color: #abd373;
}
.product-items-container {
  img {
    height: 200px;
    width: auto;
  }
}

.add-to-cart- {
  background-color: #f6f7fb;

  padding: 0px;
  margin: 0px;
  border-radius: 0%;
  cursor: pointer;
}
.add-to-cart-:hover {
  background-color: #d8d8d8;
  transition: 0.2s;
}

.product-items-container .add-to-cart- img {
  height: 30px;
  width: auto;
  padding: 5px;
  box-shadow: -1px 4px 9px #4c4c4c99;
}
p {
  font-size: medium;
  padding: 5px 0;
}

.prices {
  color: #abd373;
  font-size: medium;
}
.product-items-container {
  display: grid;
  margin-top: 60px;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.pot-collections {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
  gap: 15px;
  margin-top: 70px;
}

.pot-collections .title {
  font-size: large;
  font-weight: bold;
}
.pot-collection-1 {
  grid-column: span 2;
  background-image: url(../pronia-project/assets/b1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 600px;
}
.subheading {
  text-align: left;
  margin: 10px 40px;
  padding-top: 60px;
}

.collection-buttons {
  padding: 10px 25px;
  border-radius: 500px;
}

.pot-collection-1 {
  .title,
  .collection-buttons {
    text-align: left;
    margin: 10px 40px;
  }
}
.pot-collection-2 {
  display: flex;
  flex-direction: column;
  align-items: start;

  align-items: center;
  background-image: url(../pronia-project/assets/b2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 250px;
}
.pot-collection-2 .subheading {
  text-align: left;
  padding-top: 40px;
}

.pot-collection-3 {
  display: flex;
  flex-direction: column;
  align-items: start;

  align-items: center;
  background-image: url(../pronia-project/assets/b3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 250px;
}
.pot-collection-3 {
  .subheading {
    padding-top: 40px;
  }
}
.pot-collection-4 {
  grid-column: span 2;
  background-image: url(../pronia-project/assets/b4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 600px;
}
.pot-collection-4 {
  .title,
  .collection-buttons {
    text-align: left;
    margin: 10px 40px;
  }
}

.blog {
  p {
    text-align: center;
    padding: 0px 200px;
    line-height: 20px;
    font-size: 0.8rem;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 75%;
  }
}
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.blog-post {
  display: flex;
  flex-direction: column;
  background-color: #f6f7fb;
  margin: 10px;
  padding: 25px 0;
  .blog-title {
    color: #abd373;
  }
  .blog-heading {
    font-weight: 800;
    font-size: large;
    color: #4c4c4c;
  }
  p {
    text-align: left;
    padding: 10px 20px;
  }
}
.contact-main {
  .wrapper {
    display: flex;
    box-shadow: 1px 1px 8px #868686;
    margin: 90px auto;
  }
}
.form {
  width: 90%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info-container {
  background-image: url(../pronia-project/assets/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 260px;

  border-radius: 0%;
}
.contact-info-container {
  .title {
    padding: 40px 20px 10px 20px;
    color: white;
    font-size: large;
    font-weight: bold;
  }
}
.contact-info-container {
  .caption {
    padding: 10px 20px 20px 20px;
    color: white;
  }
}
.contact-info-container {
  .number {
    padding: 5px 20px 10px 20px;
    color: white;
  }
}
.contact-info-container .address {
  padding: 0px 20px 10px 20px;
  color: white;
}

.contact-info-container {
  .email {
    padding: 0px 20px 20px 20px;
    color: white;
  }
}
.contact-information-form {
  margin-bottom: 0px;
  width: 90%;
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    padding: 14px;
  }
}

form {
  .item5 {
    grid-column: span 2;
    input {
      width: 100%;
    }
  }
}
.form-button {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-end;
}
button {
  margin: 16px 0px;
  border-radius: 5px;
  width: max-content;
}

.item1,
.item2,
.item3,
.item4 {
  input {
    width: 100%;
    padding: 12px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.2px solid #4c4c4c;
  }
}

textarea {
  width: 100%;
  padding: 12px 4px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 0.2px solid #4c4c4c;
}

input::placeholder {
  font-style: italic;
  opacity: 0.5;
  color: #4c4c4c;
}

.error_message {
  color: rgb(128, 0, 0);
  font-size: small;
}

.success_message input {
  border-color: rgb(19, 128, 0);
}


@media (max-width: 972px) {
  .pot-collections {
    display: flex;
    justify-content: center;
  }
  .benefits .wrapper {
    flex-direction: column;
  }
  .benefit-text {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 834px) {
  .pot-collection-1, 
  .pot-collection-4 { 
    width: 516px;
  }
  .blog p {
    padding: 0px 50px;
  }
  .blog-container {
    display: flex;
    flex-direction: column;
    .blog-post {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 390px;
      p {
        text-align: center;
      }
      img {
        display: block;
        width: 40%;
      }
    }
  }
  .blog-heading {
    margin: 10px 0px;
  }
}
@media (max-width: 776px) {
  .product-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 30px;
  }
  .pot-collection-1, 
  .pot-collection-4 { 
    width: 516px;
  }
}
@media (max-width: 653px) {
  .contact-main .form {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px #868686;
    width: auto;
    height: 570px;
    .contact-info-container,
    .contact-information-form {
      display: block;
      width: 100%;
    }
  }
}
@media (max-width: 495px) {
  .benefits .wrapper {
    display: flex;
    flex-direction: column;
  }
  .top-bar .wrapper div {
    display: inline;
  }
  .navigation .wrapper .navigation-bar .pronia-logo {
    width: auto;
    height: 24px;
    margin-bottom: 11px;
  }
  .banner .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner .text-container {
    margin: 10px 0px;
  }
  .banner .wrapper .text-container .subheading-banner {
    text-align: center;
  }
  .blog-container .blog-post {
    width: 300px;
    height: 461px;
    img {
      width: 60%;
    }
  }
}
@media (max-width: 428px) {
  .product-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 30px;
  }
}
@media (max-width: 397px) {
  .product-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 30px;
  }
  .lines {
    max-width: 300px;
    font-size: 1.4rem;
  }
  .lines:after,
  .lines:before {
    width: 45px;
  }
}
@media (max-width: 375px) {
  .benefits .wrapper {
    display: flex;
    flex-direction: column;
  }
  .product-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 30px;
  }
  .pot-collection-2,
  .pot-collection-3 {
    width: 327.5px;
  }
  .pot-collection-1,
  .pot-collection-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .subheading {
      padding-top: 40px;
    }
    .collection-buttons {
      margin-top: 20px;
    }
    .title {
      margin: 0px 40px 10px 40px;
    }
  }
  .blog-container .blog-post {
    width: 300px;
    height: 461px;
    img {
      width: 60%;
    }
  }
  .contact-main .form {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px #868686;
    width: 260px;
    height: 570px;
  }
}