$button-color: #abd373;
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: small;
  letter-spacing: 1.5px;
}
h1 {
  font-size: 3.5rem;
  margin: 10px 0px;
}
button {
  color: #fff;
  padding: 10px 20px;
  background-color: $button-color;
  margin-top: 30px;
  border: none;
  border-radius: 25px;
  font-size: smaller;
}
.wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}
.top-bar {
  background-color: #abd373;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
  padding: 10px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      p {
        margin: 0px 10px;
      }
    }
  }
}
.navigation {
  padding: 25px 0px;
  .wrapper {
    .navigation-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      nav {
        padding: 10px 0px;
        ul {
          list-style: none;
          display: flex;
        }
        a {
          text-decoration: none;
          color: black;
          margin: 0px 10px;
        }
      }
      .pronia-logo {
        width: 100px;
        height: 50px;

        .cart-icon {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
.navigation {
  .wrapper {
    .navigation-bar {
      .cart-icon {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.banner {
  background-color: #f6e4d1;
  .wrapper {
    display: flex;
    .text-container .image-container {
      width: 50%;
    }
  }
}

.banner {
  .wrapper {
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        margin-bottom: 10px 0px;
      }
      .subheading {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}

.banner {
  .wrapper {
    .flower-pot {
      height: 400px;
      width: 400px;
    }
    button {
      max-width: fit-content;
    }
  }
}
