html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #000;
}

h1 {
  font-size: 5rem;
  margin: 10px 0px;
  font-weight: 400;
}

button {
  color: #fff;
  padding: 15px 20px;
  background-color: #abd373;
  margin-top: 30px;
  border: none;
  border-radius: 25px;
  font-size: smaller;
}

button:hover {
  background-color: #8db653;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.product-items li {
  list-style-type: none;
}

.top-bar {
  background-color: #abd373;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
}
.top-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-bar .wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-bar .wrapper div p {
  margin: 10px 10px;
}

.top-text {
  font-size: 0.7rem;
}

.navigation {
  padding: 25px 0px;
}
.navigation .wrapper .navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .wrapper .navigation-bar nav {
  padding: 10px 0px;
}
.navigation .wrapper .navigation-bar nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation .wrapper .navigation-bar nav a {
  text-decoration: none;
  color: #4c4c4c;
  margin: 0px 10px;
  font-size: 0.8rem;
}
.navigation .wrapper .navigation-bar .pronia-logo {
  width: 85px;
}
.navigation .wrapper .navigation-bar .pronia-logo .cart-icon {
  height: 40px;
  width: 40px;
}

.navigation .wrapper .navigation-bar .cart-icon {
  height: 30px;
  width: 25px;
}

.navigation a {
  text-decoration: none;
  position: relative;
}
.navigation .cart-counter {
  border: solid 2px #abd373;
  background-color: #abd373;
  top: -5px;
  left: 15px;
  border-radius: 50%;
  color: white;
  position: absolute;
}

.banner {
  background-color: #F8EEE5;
}
.banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner .wrapper .text-container .image-container {
  width: 50%;
}

.banner .wrapper .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .wrapper .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner .wrapper .text-container p {
  margin-bottom: 10px 0px;
  color: #000;
}
.banner .wrapper .text-container .subheading-banner {
  font-size: 3rem;
  font-weight: 300;
  text-align: left;
  color: #000;
  margin: 10px 0px;
}

.banner .wrapper .flower-pot {
  width: 400px;
  padding: 40px 0px;
}
.banner .wrapper button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 500px;
}

.contact-banner {
  background-image: url(../pronia-project/assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 200px;
}

.contact-container {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .top-bar .wrapper div {
    display: inline;
  }
  .navigation .wrapper .navigation-bar .pronia-logo {
    width: auto;
    height: 24px;
    margin-bottom: 11px;
  }
  .banner .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .text-container {
    margin: 10px 0px;
  }
  .banner .wrapper .text-container .subheading-banner {
    text-align: center;
  }
}
.benefits {
  padding: 60px 0px;
}
.benefits .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits .benefit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px;
  border: 1px #abd373 dashed;
  padding: 10px 12px;
  border-radius: 5px;
}

.benefits img {
  height: 30px;
  width: 40px;
}

.benefit-icon1,
.benefit-icon2,
.benefit-icon3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit-text p {
  margin: 5px 0px;
}

.text-heading {
  font-weight: bold;
}

.lines {
  text-align: center;
  position: relative;
  font-weight: bolder;
  max-width: 350px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.5rem;
  color: #4c4c4c;
}

.lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #abd373;
}

.lines:after {
  content: " ";
  display: block;
  height: 2px;
  width: 60px;
  position: absolute;
  top: 50%;
  right: 0;
  background: #abd373;
}

.product-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter {
  border: #c0c0c0 solid 1px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  margin: 0px 10px;
  color: black;
  font-size: 0.8rem;
  background-color: white;
  cursor: pointer;
}

.filter:hover:not([disabled]),
.filter:focus {
  border: #abd373 dashed 1px;
  background-color: white;
  color: #abd373;
}

.product-items-container img {
  height: 200px;
  width: auto;
}

.add-to-cart- {
  background-color: #f6f7fb;
  padding: 0px;
  margin: 0px;
  border-radius: 0%;
  cursor: pointer;
}

.add-to-cart-:hover {
  background-color: #d8d8d8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.product-items-container .add-to-cart- img {
  height: 30px;
  width: auto;
  padding: 5px;
  -webkit-box-shadow: -1px 4px 9px rgba(76, 76, 76, 0.6);
          box-shadow: -1px 4px 9px rgba(76, 76, 76, 0.6);
}

p {
  font-size: medium;
  padding: 5px 0;
}

.prices {
  color: #abd373;
  font-size: medium;
}

.product-items-container {
  display: grid;
  margin-top: 60px;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pot-collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
  gap: 15px;
  margin-top: 70px;
}

.pot-collections .title {
  font-size: large;
  font-weight: bold;
}

.pot-collection-1 {
  grid-column: span 2;
  background-image: url(../pronia-project/assets/b1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 600px;
}

.subheading {
  text-align: left;
  margin: 10px 40px;
  padding-top: 60px;
}

.collection-buttons {
  padding: 10px 25px;
  border-radius: 500px;
}

.pot-collection-1 .title,
.pot-collection-1 .collection-buttons {
  text-align: left;
  margin: 10px 40px;
}

.pot-collection-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../pronia-project/assets/b2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 250px;
}

.pot-collection-2 .subheading {
  text-align: left;
  padding-top: 40px;
}

.pot-collection-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../pronia-project/assets/b3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 250px;
}

.pot-collection-3 .subheading {
  padding-top: 40px;
}

.pot-collection-4 {
  grid-column: span 2;
  background-image: url(../pronia-project/assets/b4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 600px;
}

.pot-collection-4 .title,
.pot-collection-4 .collection-buttons {
  text-align: left;
  margin: 10px 40px;
}

.blog p {
  text-align: center;
  padding: 0px 200px;
  line-height: 20px;
  font-size: 0.8rem;
}
.blog img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 75%;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
}

.blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f7fb;
  margin: 10px;
  padding: 25px 0;
}
.blog-post .blog-title {
  color: #abd373;
}
.blog-post .blog-heading {
  font-weight: 800;
  font-size: large;
  color: #4c4c4c;
}
.blog-post p {
  text-align: left;
  padding: 10px 20px;
}

.contact-main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 1px 8px #868686;
          box-shadow: 1px 1px 8px #868686;
  margin: 90px auto;
}

.form {
  width: 90%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info-container {
  background-image: url(../pronia-project/assets/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 260px;
  border-radius: 0%;
}

.contact-info-container .title {
  padding: 40px 20px 10px 20px;
  color: white;
  font-size: large;
  font-weight: bold;
}

.contact-info-container .caption {
  padding: 10px 20px 20px 20px;
  color: white;
}

.contact-info-container .number {
  padding: 5px 20px 10px 20px;
  color: white;
}

.contact-info-container .address {
  padding: 0px 20px 10px 20px;
  color: white;
}

.contact-info-container .email {
  padding: 0px 20px 20px 20px;
  color: white;
}

.contact-information-form {
  margin-bottom: 0px;
  width: 90%;
}
.contact-information-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 14px;
}

form .item5 {
  grid-column: span 2;
}
form .item5 input {
  width: 100%;
}

.form-button {
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

button {
  margin: 16px 0px;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.item1 input,
.item2 input,
.item3 input,
.item4 input {
  width: 100%;
  padding: 12px 4px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 0.2px solid #4c4c4c;
}

textarea {
  width: 100%;
  padding: 12px 4px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 0.2px solid #4c4c4c;
}

input::-webkit-input-placeholder {
  font-style: italic;
  opacity: 0.5;
  color: #4c4c4c;
}

input::-moz-placeholder {
  font-style: italic;
  opacity: 0.5;
  color: #4c4c4c;
}

input:-ms-input-placeholder {
  font-style: italic;
  opacity: 0.5;
  color: #4c4c4c;
}

input::-ms-input-placeholder {
  font-style: italic;
  opacity: 0.5;
  color: #4c4c4c;
}

input::placeholder {
  font-style: italic;
  opacity: 0.5;
  color: #4c4c4c;
}

.error_message {
  color: rgb(128, 0, 0);
  font-size: small;
}

.success_message input {
  border-color: rgb(19, 128, 0);
}

@media (max-width: 972px) {
  .pot-collections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .benefits .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefit-text {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 834px) {
  .pot-collection-1,
  .pot-collection-4 {
    width: 516px;
  }
  .blog p {
    padding: 0px 50px;
  }
  .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-container .blog-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    height: 390px;
  }
  .blog-container .blog-post p {
    text-align: center;
  }
  .blog-container .blog-post img {
    display: block;
    width: 40%;
  }
  .blog-heading {
    margin: 10px 0px;
  }
}
@media (max-width: 776px) {
  .product-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 30px;
  }
  .pot-collection-1,
  .pot-collection-4 {
    width: 516px;
  }
}
@media (max-width: 653px) {
  .contact-main .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 1px 1px 8px #868686;
            box-shadow: 1px 1px 8px #868686;
    width: auto;
    height: 570px;
  }
  .contact-main .form .contact-info-container,
  .contact-main .form .contact-information-form {
    display: block;
    width: 100%;
  }
}
@media (max-width: 495px) {
  .benefits .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-bar .wrapper div {
    display: inline;
  }
  .navigation .wrapper .navigation-bar .pronia-logo {
    width: auto;
    height: 24px;
    margin-bottom: 11px;
  }
  .banner .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .text-container {
    margin: 10px 0px;
  }
  .banner .wrapper .text-container .subheading-banner {
    text-align: center;
  }
  .blog-container .blog-post {
    width: 300px;
    height: 461px;
  }
  .blog-container .blog-post img {
    width: 60%;
  }
}
@media (max-width: 428px) {
  .product-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 30px;
  }
}
@media (max-width: 397px) {
  .product-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 30px;
  }
  .lines {
    max-width: 300px;
    font-size: 1.4rem;
  }
  .lines:after,
  .lines:before {
    width: 45px;
  }
}
@media (max-width: 375px) {
  .benefits .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 30px;
  }
  .pot-collection-2,
  .pot-collection-3 {
    width: 327.5px;
  }
  .pot-collection-1,
  .pot-collection-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pot-collection-1 .subheading,
  .pot-collection-4 .subheading {
    padding-top: 40px;
  }
  .pot-collection-1 .collection-buttons,
  .pot-collection-4 .collection-buttons {
    margin-top: 20px;
  }
  .pot-collection-1 .title,
  .pot-collection-4 .title {
    margin: 0px 40px 10px 40px;
  }
  .blog-container .blog-post {
    width: 300px;
    height: 461px;
  }
  .blog-container .blog-post img {
    width: 60%;
  }
  .contact-main .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 1px 1px 8px #868686;
            box-shadow: 1px 1px 8px #868686;
    width: 260px;
    height: 570px;
  }
}
@media (max-width: 500px) {
  .contact-info-container .title {
    padding: 10px 0;
  }
  .contact-info-container .email {
    padding: 10px 0;
  }
  .contact-info-container .caption {
    padding: 10px 0;
  }
  .contact-info-container .number {
    padding: 10px 0;
  }
  .contact-info-container .address {
    padding: 10px 0;
  }
}
footer {
  background-image: url(../pronia-project/assets/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

footer p {
  font-size: smaller;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 80px 20px 10px 20px;
}

.footer-container .title {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.footer-container .contact {
  font-size: 1.1rem;
}

.footer-container p {
  font-weight: 400;
  font-size: 0.8rem;
}

.section-1 {
  width: 200px;
}
.section-1 img {
  width: auto;
  height: 50px;
  margin-bottom: 10px;
  position: relative;
  top: -20px;
}

.line-height {
  line-height: 20px;
  position: relative;
  top: -20px;
}

.section-5 .title {
  margin-bottom: 5px;
}
.section-5 .title .number {
  font-size: 18px;
}

.section-5 .number {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.social-media-container {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.facebook,
.twitter,
.pintrest,
.dribble {
  border: 1px solid #000000;
  margin: 0px 5px;
  padding: 5px 10px;
}

.copy-right p {
  text-align: center;
  padding: 0px 15px 15px 15px;
  font-size: 14px;
  color: #abd373;
}
.copy-right a {
  text-decoration: none;
  color: #abd373;
}

hr {
  margin: 40px auto 20px auto;
  color: #abd373;
}

@media (max-width: 640px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 20px 10px 20px;
    text-align: center;
  }
  .section-1 {
    width: 100%;
  }
  .social-media-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px auto;
  }
}
@media (max-width: 376px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 20px 10px 20px;
    text-align: center;
  }
  .social-media-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px auto;
  }
}