* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: small;
  letter-spacing: 1.5px;
}

h1 {
  font-size: 3.5rem;
  margin: 10px 0px;
}

button {
  color: #fff;
  padding: 15px 20px;
  background-color: #abd373;
  margin-top: 30px;
  border: none;
  border-radius: 25px;
  font-size: smaller;
}

.wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

.top-bar {
  background-color: #abd373;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
  padding: 10px;
}
.top-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-bar .wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-bar .wrapper div p {
  margin: 0px 10px;
}

.navigation {
  padding: 25px 0px;
}
.navigation .wrapper .navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .wrapper .navigation-bar nav {
  padding: 10px 0px;
}
.navigation .wrapper .navigation-bar nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation .wrapper .navigation-bar nav a {
  text-decoration: none;
  color: black;
  margin: 0px 10px;
}
.navigation .wrapper .navigation-bar .pronia-logo {
  width: 100px;
  height: 50px;
}
.navigation .wrapper .navigation-bar .pronia-logo .cart-icon {
  height: 40px;
  width: 40px;
}

.navigation .wrapper .navigation-bar .cart-icon {
  height: 20px;
  width: 20px;
}

.banner {
  background-color: #f6e4d1;
}
.banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner .wrapper .text-container .image-container {
  width: 50%;
}

.banner .wrapper .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner .wrapper .text-container p {
  margin-bottom: 10px 0px;
}
.banner .wrapper .text-container .subheading {
  font-size: 2rem;
  font-weight: 300;
}

.banner .wrapper .flower-pot {
  height: 400px;
  width: 400px;
  padding: 40px 0px;
}
.banner .wrapper button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.benefits {
  padding: 60px 0px;
}
.benefits .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits .benefit-container1,
.benefits .benefit-container2,
.benefits .benefit-container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px;
  border: 1px #abd373 dashed;
  padding: 10px 12px;
  border-radius: 5px;
}

.benefits img {
  height: 30px;
  width: 40px;
}

.benefit-icon1,
.benefit-icon2,
.benefit-icon3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit-text1 p,
.benefit-text2 p,
.benefit-text3 p {
  margin: 5px 0px;
}

.text-heading {
  font-weight: bold;
}

.lines {
  text-align: center;
  position: relative;
  max-width: 350px;
  margin: 30px auto;
  text-align: center;
}

.lines:before {
  content: " ";
  display: block;
  height: 2px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #abd373;
}

.lines:after {
  content: " ";
  display: block;
  height: 2px;
  width: 60px;
  position: absolute;
  top: 50%;
  right: 0;
  background: #abd373;
}

.product-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured {
  border: #abd373 dashed 1px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  margin: 0px 10px;
}
.featured a {
  text-decoration: none;
  color: #abd373;
}

.bestseller,
.latest {
  border: #c0c0c0 solid 1px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  margin: 0px 10px;
}
.bestseller a,
.latest a {
  text-decoration: none;
  color: black;
}

.product-items .card img {
  height: 200px;
  width: auto;
}

.product-items .card .add-to-cart- img {
  height: 20px;
  width: auto;
  padding: 10px;
  -webkit-box-shadow: 0px 8px 20px #4c4c4c;
          box-shadow: 0px 8px 20px #4c4c4c;
}
.product-items .card p {
  margin: 10px 0px;
  font-size: medium;
}

.container-text {
  color: #abd373;
  font-size: medium;
}

.product-items {
  display: grid;
  margin-top: 60px;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}